#pair-output{
    display: flex;
    flex-wrap: wrap;
}

#pair-output div {
    border: 2px solid black;
    background-color: red;
    flex-direction: column;
    padding: 2px; 
    font-size: .5rem;
    margin: .5rem;
    display: flex;
    color: white;
}

#pair-output div li {
    list-style-type: decimal;
}

